.wrapper {
  margin: 0 auto;
  .list {
    height: calc(100vh - 330px);
    overflow: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: var(--color-1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-6);
      border-radius: 100px;
    }
  }
  .main {
    display: flex;

    .intro {
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin: auto 0;
    }
    img {
      --radius: 180px;
      width: var(--radius);
      height: var(--radius);
      border-radius: 100px;
      animation: spin 20s linear infinite;
    }
    h1 {
      max-height: 90px;
      overflow: hidden;
      font-size: 38px;
      font-weight: 600;
    }
    p {
      font-size: 27px;
      font-weight: 600;
      max-height: 70px;
      overflow: hidden;
    }
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    .activeLoop {
      background-color: var(--color-1);
    }
  }
  .durationBar {
    height: 10px;
    background-color: var(--color-3);
    border-radius: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    .duration {
      height: 100%;
      border-radius: 100px;
      background-color: var(--color-5);
    }
  }
  button {
    --radius: 60px;
    width: var(--radius);
    height: var(--radius);
    border-radius: 100px;
    border: 3px solid var(--color-6);
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px,
      4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: var(--color-3);
    position: relative;
    cursor: pointer;
    &:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
    .icon {
      font-size: 20px;
    }
  }
  .active {
    background-color: var(--color-3);
  }
  .item {
    display: flex;
    flex-direction: row;
    box-shadow: var(--color-6) 0 2px 4px, var(--color-6) 0 7px 13px -3px,
      var(--color-6) 0 -3px 0 inset;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    // padding:0 10px;
    margin: 7px 0;
    &:focus {
      box-shadow: var(--color-6) 0 0 0 1.5px inset,
        rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        var(--color-6) 0 -3px 0 inset;
    }
    &:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-6) 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: var(--color-6) 0 3px 7px inset;
      transform: translateY(2px);
    }
    h1 {
      overflow: hidden;
      font-size: 28px;
      max-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      overflow: hidden;

      max-height: 24px;
      font-size: 24px;
      font-size: 600;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .img {
    --radius: 70px;
    width: var(--radius);
    height: var(--radius);
  }
  .iconHeart {
    font-size: 30px;
    color: var(--color-3);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 770px) {
  .wrapper {
    .item {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 19px;
      }
    }

    .list {
      height: calc(100vh - 290px);
    }

    .main {
      display: flex;

      img {
        --radius: 150px;
        width: var(--radius);
        height: var(--radius);
      }
      h1 {
        max-height: 70px;
        font-size: 30px;
        font-weight: 600;
      }
      p {
        max-height: 60px;
        font-size: 23px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 480px) {
  .list {
    height: calc(100vh - 290px);
  }
  .wrapper {
    .item {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
