:root{
  --color-1: #fff4e6;
  --color-2:#e7dcd7;
  --color-3: #be9b7b;
  --color-4: #854442;
  --color-5: #4b3832;
  --color-6: #3c2f2f;
  --width-sidebar:330px;
  @media (max-width:770px) {
    --width-sidebar:120px
  }
  @media (max-width:480px) {
    --width-sidebar:60px
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: JetBrains Mono,monospace;
  color: var(--color-5);
  -webkit-user-select: none;
  user-select: none;
  overflow-x: none;
}
body{
  background-color: var(--color-1);
  
  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-1);
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-6);
    border-radius: 10px;
  }
  
}
a{
  text-decoration: none;
  color: var(--color-6);
}
