.wrapper {
  position: fixed;
  top: 54px;
  height: calc(100% - 54px);
  background-color: var(--color-2);
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 360px;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-6);
    border-radius: 10px;
  }
  .childrenTitle {
    font-size: 30px;
    background-color: var(--color-3);
    font-weight: 600;
    padding: 20px 30px;
  }
  h1 {
    text-align: center;
  }
  .name {
    font-size: 26px;
    font-weight: 600;
    padding: 10px;
  }
  .icon {
    font-size: 30px;
    padding: 14px;
  }
  .img {
    --radius: 60px;
    width: var(--radius);
    height: var(--radius);
  }
  .link {
    display: flex;
    flex-direction: row;
    height: 60px;
    box-shadow: var(--color-6) 0 2px 4px, var(--color-6) 0 7px 13px -3px,
      var(--color-6) 0 -3px 0 inset;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    margin: 7px 0;
    &:focus {
      box-shadow: var(--color-6) 0 0 0 1.5px inset,
        rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        var(--color-6) 0 -3px 0 inset;
    }
    &:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-6) 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: var(--color-6) 0 3px 7px inset;
      transform: translateY(2px);
    }
  }
}
